<html>
  <head>
    <title>Homework3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
     <div class="container">
	    <nav class="navbar navbar-inverse nav-fixed-top">
		    <div class="navbar-header">
                <div class="navbar-brand">CS590 Project</div>
		    </div>
	    </nav>
        <input type='button' id='getQuiz' value='Quiz' />
        <select id="quiz" name="quiz">
        </select>
    </div>
    <div class="container" id="display">
    </div>
    <div class="container" id="forbutton" style="visibility:hidden;"><input type='button' id='quizSubmit' value='done' /></div>
    <script src="/js/client.js" language="javascript"></script>
    <script type="text/javascript" language="javascript">
          gradesheet_cljs.client.main()
    </script>
  </body>
</html>

