<html>
  <head>
    <title>Homework3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
     <div class="container">
	    <nav class="navbar navbar-inverse nav-fixed-top">
		    <div class="navbar-header">
                <div class="navbar-brand">Current Score: <small id="score"></small></div>
		    </div>
	        <ul class="nav navbar-nav">
                <li class="navbar-brand">Quiz
                    <select id="quiz" name="quiz">
                        <option selected="selected" disabled="disabled">choose a quiz</option>
                        <option value="1">Quiz 1</option>
                        <option value="2">Quiz 2</option>
                        <option value="3">Quiz 3</option>
                        <option value="4">Quiz 4</option>
                    </select>
                </li>
                <li class="navbar-brand">Homework
                    <select id="hw" name="hw">
                        <option value="1">Homework 1</option>
                        <option value="2">Homework 2</option>
                        <option value="3">Homework 3</option>
                        <option value="4">Homework 4</option>
                    </select>
                </li>
	        </ul>
	    </nav>
    </div>
    <div class="container" id="display">
    </div>
    <div class="container" id="forbutton" style="visibility:hidden;"><input type='button' id='quizSubmit' value='done' /></div>
    <script src="/js/client.js" language="javascript"></script>
    <script type="text/javascript" language="javascript">
          gradesheet_cljs.client.main()
    </script>
  </body>
</html>

